@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
            format("woff2"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
            format("woff"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
            format("opentype");
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
            format("woff2"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
            format("woff"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
            format("opentype");
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
            format("woff2"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
            format("woff"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
            format("opentype");
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
            format("woff2"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
            format("woff"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
            format("opentype");
}



@font-face {
    font-family: "Nanum Gothic";
    font-style: normal;
    font-weight: 700;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix)
            format("embedded-opentype"),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff2)
            format("woff2"),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff)
            format("woff"),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf)
            format("truetype");
}
@font-face {
    font-family: "Nanum Gothic";
    font-style: normal;
    font-weight: 400;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix)
            format("embedded-opentype"),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2)
            format("woff2"),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff)
            format("woff"),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf)
            format("truetype");
}
@font-face {
    font-family: "Nanum Gothic";
    font-style: normal;
    font-weight: 800;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot?#iefix)
            format("embedded-opentype"),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff2)
            format("woff2"),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff)
            format("woff"),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf)
            format("truetype");
}



@font-face {
    font-family: "NanumSquare";
    font-weight: 400;
    src: url(./images/NanumSquareR.eot);
    src: url(./images/NanumSquareR.eot?#iefix) format("embedded-opentype"),
        url(./images/NanumSquareR.woff) format("woff"),
        url(./images/NanumSquareR.ttf) format("truetype");
}
@font-face {
    font-family: "NanumSquare";
    font-weight: 700;
    src: url(./images/NanumSquareB.eot);
    src: url(./images/NanumSquareB.eot?#iefix) format("embedded-opentype"),
        url(./images/NanumSquareB.woff) format("woff"),
        url(./images/NanumSquareB.ttf) format("truetype");
}
@font-face {
    font-family: "NanumSquare";
    font-weight: 800;
    src: url(./images/NanumSquareEB.eot);
    src: url(./images/NanumSquareEB.eot?#iefix) format("embedded-opentype"),
        url(./images/NanumSquareEB.woff) format("woff"),
        url(./images/NanumSquareEB.ttf) format("truetype");
}



@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 100; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumBarunGothicUltraLight.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 300; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumBarunGothicLight.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 400; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumBarunGothic.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 700; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumBarunGothicBold.woff2) format('woff2');
    font-display: swap;
}